.pageContainer {
  width: 90%;
  margin: 0 auto;
}
.step,
.formContainer,
.shippingContainer,
.summaryShippingContainer,
.paymentContainer {
  box-shadow: 0 0 5px rgb(70, 70, 70);
  padding: 10px;
  margin-top: 20px;
}

.step {
  overflow: hidden;
}

.pageContainer h3 {
  font-weight: 400 !important;
}

.formContainer > div:nth-of-type(1),
.paymentContainer > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.formContainer > div:nth-of-type(1) button:hover {
  color: rgb(44, 169, 221);
}
.formContainer > div:nth-of-type(1) button {
  background-color: transparent;
  border: none;
}
.formContainer h1 {
  font-size: 1.6rem;
  margin: 0;
}

.rowInputs {
  display: flex;
  justify-content: space-between;
}

.rowInputs > div {
  width: calc(50% - 10px);
}

.formVAT > div input {
  background-color: rgb(230, 247, 255);
}

/* SHIPPING CONTAINER SHIPPING CONTAINER SHIPPING CONTAINER */
/* SHIPPING CONTAINER SHIPPING CONTAINER SHIPPING CONTAINER */

.shippingContainer > div {
  display: flex;
  justify-content: space-between;
}

.shippingContainer > div:nth-of-type(3) {
  margin-bottom: 10px;
}
.shippingContainer p {
  text-align: end;
  font-weight: 500;
}

.summaryShipping {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 1.3rem;
}
.summaryShipping > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}
.summaryShipping > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.summaryShipping p {
  border-bottom: 1px solid black;
  width: fit-content;
}
/* INPOST PICKUP INFO */
.packagePickUp {
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(44, 168, 221, 0.1);
  border-radius: 5px;
  padding: 3px 3px 3px 5px;
  margin: 5px 0;
}
.packagePickUp p {
  margin: 3px 0 0 0;
  font-weight: 400;
}
.packagePickUp > button {
  border: none;
  background-color: transparent;
  color: rgb(44, 169, 221);
  margin-top: 3px;
}

/* PAYMENT PAYMENT */
.paymentTotalPrice {
  text-align: end;
  font-weight: 500;
  padding-right: 2%;
  margin: 10px;
}
.paymentRecipientInfo {
  margin: 30px 0;
}
.paymentRecipientInfo p {
  margin-bottom: 5px;
  background-color: rgba(44, 168, 221, 0.15);
  border-radius: 5px;
  padding-left: 5px;
}

.shippingInfo > p {
  margin-bottom: 5px;
  background-color: rgba(44, 168, 221, 0.15);
  border-radius: 5px;
  padding-left: 5px;
  font-weight: 500;
}
/* SUBMIT PAGE */
.successPage {
  min-height: 30vh;
  margin: 5vh 0;
  text-align: center;
}
.successPage i {
  font-size: 3rem;
  margin: 20px 0;
  color: rgb(44, 169, 221);
}
.successPage h1,
.successPage a {
  font-family: "Hubballi";
}

.successPage a {
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .pageContainer {
    width: 730px;
  }
}

@media (min-width: 1024px) {
  .pageContainer {
    width: 900px;
  }
}
