.main {
  width: 1180px;
  margin: 20px auto;
}

.categoryWrapper img {
  width: 100%;
  height: 180px;
}

.categoryWrapper {
  display: flex;
  justify-content: space-between;
}

.categoryWrapper a {
  width: 15%;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.7);
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  color: rgb(22, 22, 22);
  cursor: pointer;
}

@media (max-width: 1279px) {
  .main {
    width: 910px;
  }

  .categoryWrapper img {
    height: 150px;
  }
}

@media (max-width: 1023px) {
  .main {
    width: 740px;
  }
  .categoryWrapper div {
    width: 30%;
    margin-bottom: 15px;
  }

  .categoryWrapper {
    flex-wrap: wrap;
  }

  .categoryWrapper img {
    height: 210px;
  }
}

@media (max-width: 767px) {
  .main {
    width: 90%;
  }

  .categoryWrapper img {
    height: 80%;
  }
}

.helmetsWrapper {
  margin-top: 20px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
  position: relative;
}

.helmetsWrapper img {
  width: 75%;
  height: auto;
  margin: 0 auto;
}
