/*  \/ PAGINATION CARD STYLING \/ */

/* \/ RESETING BOOTSTRAP STYLES */
.shopContainer {
  width: 90%;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
.shopContainer ul,
.shopContainer p,
.shopContainer h3,
.paginationCard ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.shopContainer img {
  vertical-align: 0%;
}
.shopContainer h3,
.shopContainer h2 {
  font-weight: bold;
}
/* */

/* PAGINATION CARD IN THE TOP OF THE PAGE */
/* PAGINATION CARD IN THE TOP OF THE PAGE */
/* PAGINATION CARD IN THE TOP OF THE PAGE */
.paginationCard {
  width: 90%;
  box-shadow: 0 0 5px rgb(70, 70, 70);
  margin: 10px auto;
  padding: 15px;
}
.paginationCard span {
  font-size: 14px;
}
.paginationCard i {
  font-size: 12px;
  padding-right: 6px;
  margin: 8px 0;
}

.paginationCard p {
  width: 100%;
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.2em;
}
.paginationCard input {
  width: 100%;
  line-height: 250%;
  border-radius: 2px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  padding-left: 5px;
  margin: 5px 0;
}

::-webkit-input-placeholder {
  color: rgb(190, 190, 190);
}
.paginationCard input:focus {
  box-shadow: 0px 0px 7px rgb(44, 161, 229);
}
.paginationCard a {
  text-decoration: none;
  color: black;
}

.paginationCard form button i {
  font-size: 1.1em;
}
.paginationCard form button {
  color: rgb(26, 26, 26);
  line-height: 250%;
  font-size: 1.1em;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.paginationCard h3 {
  font-size: 1rem;
  margin: 0;
}
.paginationCard ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.paginationCard a.active {
  color: blue;
}

.columnContainer {
  display: flex;
  flex-direction: column;
}
.columnContainer div.paginationWrapper {
  display: flex;
  flex-direction: column;
}
.columnContainer div.paginationWrapper ul {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.columnContainer div.paginationWrapper ul:nth-of-type(1) li {
  margin-left: 10px;
}

/* PAGIANTION FILTER CARD */
/* PAGIANTION FILTER CARD */
/* PAGIANTION FILTER CARD */

.productsPagination {
  display: flex;
  flex-direction: column;
  width: 24%;
  box-shadow: 0 0 5px rgb(70, 70, 70);
  height: fit-content;
  padding: 12px 0px 12px 12px;
}
.productsPagination h2 {
  border-bottom: 2px solid rgb(231, 231, 231);
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1.6em;
}

.productsPagination h3 {
  font-weight: 500;
  font-size: 1.1em;
  margin: 10px 0;
}

.productsPagination div:nth-of-type(1) input {
  width: 45%;
  border: 1px solid rgb(170, 170, 170);
  padding-left: 5px;
  outline: none;
}
.productsPagination div:nth-of-type(1) input:nth-of-type(2) {
  margin-left: 5px;
}
.productsPagination div:nth-of-type(1) input:focus {
  box-shadow: 0 0 5px rgb(44, 161, 229);
}

.productsPagination div:nth-of-type(2) > ul > li {
  list-style: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.productsPagination div:nth-of-type(2) > ul > li > input {
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-right: 5px;
}

/* \/ PRODUCTS STYLING \/ */
/* \/ PRODUCTS STYLING \/ */
/* \/ PRODUCTS STYLING \/ */

.productSContainer {
  width: 100%;
}

.productContainer {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 5px rgb(70, 70, 70);
  padding: 10px;
}

.imgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.imgWrap h2 {
  font-size: 17px;
  padding: 5px 10px;
  color: rgb(10, 121, 185);
  line-height: normal;
  margin: 0;
}

.imgWrap img {
  width: 90%;
  margin: 0 auto;
}

div.productAttributes > p {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-right: 10px;
  text-align: end;
}

.productAttributes p span > span {
  color: rgb(44, 161, 229);
  font-weight: bold;
  font-size: 1.25em;
  display: inline-block;
  margin-top: 5px;
}

.productAttributes p i {
  color: #ef9429;
}

.productAttributes ul {
  background-color: rgb(255, 255, 255);
  list-style: none;
}

.productAttributes ul h3 {
  font-size: 1em;
  background-color: #eeeeee;
  padding-left: 8px;
  line-height: 160%;
}

.productAttributes ul p {
  font-size: 15px;
  background-color: rgb(207, 207, 207);
  padding-left: 8px;
  line-height: 160%;
  margin-bottom: 8px;
}

.productContainer .imagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer .imagesContainer a {
  display: block;
  width: 70px;
  height: 70px;
}

.productContainer .imagesContainer a img {
  width: 100%;
}

/* MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA */

@media (min-width: 768px) {
  .productContainer {
    display: flex;
    padding-left: 0;
  }

  .shopContainer,
  .paginationCard {
    width: 730px;
  }
  .productSContainer {
    width: 100%;
  }
  .productSContainer {
    margin-left: 0;
  }

  .columnContainer div.paginationWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .productDescriptionWRAPPER {
    width: 60%;
  }

  .productAttributes ul {
    display: flex;
    flex-direction: column;
  }
  .productAttributes ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
  }
  .productAttributes ul li h3 {
    width: 40%;
  }
  .productAttributes ul li p {
    width: 60%;
    margin-bottom: 0;
  }
  .imgWrap img {
    width: 85%;
  }
  .imgWrap {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .shopContainer,
  .paginationCard {
    width: 980px;
  }
  .productSContainer {
    margin-left: 20px;
  }

  div.paginationCard p {
    font-size: 1.5em;
  }

  div.paginationCard {
    display: flex;
    justify-content: space-between;
  }

  div.paginationCard div.columnContainer {
    width: 75%;
  }

  div.paginationCard input {
    font-size: 16px;
    width: 80%;
    margin-right: 15px;
  }

  div.paginationCard > div ul {
    display: flex;
    flex-direction: row;
  }
  div.paginationCard > div > div {
    display: flex;
    flex-direction: column;
  }

  .columnContainer {
    margin-left: 20px;
  }
}

@media (min-width: 1280px) {
  .shopContainer,
  .paginationCard {
    width: 1180px;
  }
  div.paginationCard input {
    width: 85%;
  }

  .imgWrap {
    width: 45%;
  }
  .imgWrap img {
    width: 70%;
  }
}

@media (min-width: 1500px) {
  .shopContainer,
  .paginationCard {
    width: 1400px;
  }
  .imgWrap {
    width: 40%;
  }
  .imgWrap img {
    width: 65%;
  }
}
