.Footer {
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 10px;
}
.Footer > p {
  color: rgb(120, 120, 120);
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.logo {
  font-size: 1.8rem;
  color: rgb(44, 161, 229);
  font-weight: bold;
  font-family: "Zen Dots";
  margin-top: 10px;
}

.firstContainer {
  width: 100%;
}

.firstContainer p,
.secondContainer p {
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
  font-size: 14px;
}

.firstContainer h2,
.secondContainer h2 {
  color: white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.firstContainer {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.wrapper ul {
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.firstContainer div:nth-of-type(2) ul li,
.secondContainer ul li {
  padding: 0 3px;
  margin: 5px 0;
  border-right: 2px solid rgb(180, 180, 180);
  line-height: 90%;
  font-size: 0.9rem;
  color: white;
}
.wrapper ul > li > a {
  text-decoration: none;
  color: rgb(200, 200, 200) !important;
}

.firstContainer div:nth-of-type(3) ul {
  display: flex;
  flex-direction: column;
}
.wrapper a {
  color: rgb(44, 169, 221);
}
.wrapper span {
  font-size: 15px;
  margin-top: 5px;
  display: block;
}

.wrapper i {
  font-size: 30px;
  color: white;
}

.wrapper .icon {
  width: 52px;
  height: 50px;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  margin-left: 7px;
  cursor: pointer;
}

.wrapper .iconsWrapper {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-bottom: 20px;
}

.bottomDescription {
  margin: 0 auto;
  font-size: 0.75rem;
}

.wrapper .icon {
  background-color: rgb(34, 34, 255);
}

.wrapper .icon:nth-of-type(2) {
  background-color: rgb(170, 108, 37);
}

.wrapper .icon:nth-of-type(3) {
  background-color: rgb(0, 204, 255);
}

.wrapper .icon:nth-of-type(4) {
  background-color: red;
}

@media (min-width: 490px) {
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 1.1rem;
  }

  .bottomDescription {
    max-width: 1000px;
  }
  .firstContainer,
  .secondContainer {
    width: 40%;
  }

  .logo {
    font-size: 2rem;
  }

  .wrapper .firstContainer .icon {
    background-color: rgb(65, 65, 65);
  }

  .wrapper .icon:hover {
    background-color: rgb(34, 34, 255);
  }

  .wrapper .icon:nth-of-type(2):hover {
    background-color: rgb(170, 108, 37);
  }

  .wrapper .icon:nth-of-type(3):hover {
    background-color: rgb(0, 204, 255);
  }

  .wrapper .icon:nth-of-type(4):hover {
    background-color: red;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 1200px;
  }
  .bottomDescription {
    max-width: 1200px;
  }
}


@media (max-width: 480px) {
  .logo {
    font-size: 1.4rem;
  }
  .firstContainer p,
.secondContainer p {
  font-size: 11px;
}
.firstContainer h2,
.secondContainer h2 {
  font-size: 1.2rem;
}

.firstContainer div:nth-of-type(2) ul li,
.secondContainer ul li {
  font-size: 0.7rem;
}
.wrapper span {
  font-size: 12px;
}
.wrapper i {
  font-size: 24px;

}
.wrapper .icon {
  width: 45px;
  height: 43px;

}

}