.phoneCategories {
  background-color: rgb(40, 40, 40);
  list-style: none;
  height: 0;
  transition: 1s;
  overflow: hidden;
}

.phoneCategories.active {
  display: block;
  height: 174px;
}

.phoneCategories a {
  text-decoration: none;
  display: block;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  border-bottom: 2px solid rgb(73, 73, 73);
  line-height: 350%;
  width: 100%;
}

@media (max-width: 480px) {
  .phoneCategories a {
    font-size: 0.85rem;
  }

  .phoneCategories.active {
    height: 149px;
  }
}

@media (min-width: 768px) {
  div.phoneCategories {
    display: none !important;
  }
}
